<!DOCTYPE html>
<html lang="en">
  <head>
    <% content_for :head do %>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="assets/ico/favicon.png">

      <title>Nicollette Lui</title>

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
      <![endif]-->
    <% end %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Nicollette Lui</h1>
					<h3>Web Developer | luinicollette@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h3><b>ABOUT</b></h3>
				</div>
				<div class="col-lg-6">
					<p>I'm a web developer with experience in Ruby on Rails, Backbone.js, SQL, jQuery, CSS and HTML. I love coding, problem solving, implementing logic, and understanding what goes on in the background. I am looking for opportunities to work with an amazing team and create exciting, innovative applications. I am a firm believer that code should be clean and expressive, and smooth interfaces are a must.<br>See some of my code on my <a href="https://github.com/nicollette" target="_blank">github</a>.</p>
				</div>
				<div class="col-lg-3">
					<p><a href="Nicollette-Lui-resume.pdf" target="_blank"><i class="icon-file"></i></a> <sm>DOWNLOAD RESUME</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->
  
	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h3><b>PROJECTS</b></h3>
				</div>
        <!-- <div class="col-lg-6">
          <p><img class="img-responsive" src="assets/img/veggawker.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
					<p><a href="http://www.veggawker.com">VEGGAWKER</a></p>
				<p><more>User submitted, vegan recipe website with a minimal, photo-based interface.<br/><br/>
					<sm><i class="icon-tag"></i> Rails</sm>
          <sm><i class="icon-tag"></i> Backbone</sm></more> 
				</p>
				</div>
	
        <!-- <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
						<p>ACTIVE RECORD LITE</p>
					<p><more>A clone of Active Record's basic functionality: attr_accessor, mass_assignment, associations, and SQL queries. <br/><a href="https://github.com/nicollette/active_record_lite">github</a><br/><br/>
						<sm><i class="icon-tag"></i> Ruby</sm></more> 
					</p>
				</div>
        
<!--         <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port03.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
						<p>RAILS LITE</p>
					<p><more>Re-created the basic functionality of Rails using WEBrick.<br/> <a href="https://github.com/nicollette/Rails_lite">github</a>
            <br/><br/>
						<sm><i class="icon-tag"></i> Ruby</sm></more> 
					</p>
				</div>
		
        <!-- <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
						<p>CHESS</p>
					<p><more>Built Chess with a CLI. <br/><a href="https://github.com/nicollette/Chess">github</a><br/><br/>
						<sm><i class="icon-tag"></i> Ruby</sm></more> 
					</p>
				</div>
        
        <!-- <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
						<p>SNAKE</p>
					<p><more>Arcade game that can be played in the browser.<br/><a href="https://github.com/nicollette/snake">github</a><br/><br/>
						<sm><i class="icon-tag"></i> JavaScript</sm></more> 
					</p>
				</div>
        
        <!-- <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
        </div> -->
				<div class="col-lg-3 skill-container">
						<p>TIC-TAC-TOE: CUPCAKE WARS</p>
					<p><more>Classic tic-tac-toe game remixed with cute cupcake photos written in JavaScript. Can be played in the browser, click tiles to place cupcake mark.<br/><a href="https://github.com/nicollette/TicTacToe">github</a><br/><br/>
						<sm><i class="icon-tag"></i> JavaScript</sm></more> 
					</p>
				</div>
        
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h3><b>SKILLS</b></h3>
					</div>
					<div class="col-md-4 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Ruby</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#f0922d"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>JavaScript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#f0922d"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Rails</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 85,
										color:"#f0922d"
									},
									{
										value : 15,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>Backbone</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 85,
										color:"#f0922d"
									},
									{
										value : 15,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
          
					<div class="col-lg-3 centered">
						<canvas id="arcgis" height="130" width="130"></canvas>
						<p>ArcGIS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#f0922d"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("arcgis").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
          
					<div class="col-lg-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#f0922d"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->
  
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h3><b>WORK</b></h3>
				</div>
				<div class="col-lg-6">
					<p><t>GIS Analyst</t><br/>
						Abt. SRBI, Inc. <br/>
					</p>
					<p><more>I created static and web maps of survey research data and analyzed it within a geospatial context. I also created and managed survey deployment databses in Access.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER 2012 - SEPTEMBER 2013</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
  
	
  
	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h3><b>EDUCATION</b></h3>
				</div>
				<div class="col-lg-6">
					<p><t>BA Environmental Studies</t><br/>
						Brooklyn College, CUNY <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>GRADUATED MAY 2012</sm><br/>
					</p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	

	<!--AWARDS DESCRIPTION -->
  <!-- <div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>AWARDS</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Best Web Design</t><br/>
            Black Tie Site <br/>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm>NOVEMBER 2013</sm></p>
        </div>
  
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>Designer of the Year</t><br/>
            Awwwards Site
          </p>
          <p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</more></p>
        </div>
        <div class="col-lg-3">
          <p><sm>2013</sm></p>
        </div> -->
		
		<!-- </div> --> <!--/.row -->
    <!-- <br> -->
	<!-- </div> --> <!--/.container -->

	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h3><b>CONTACT</b></h3><br>
				</div>
      </div>
      <div class="row">
				<div class="col-lg-6 col-lg-offset-1">
					<p><t>Email</t><br/>
						luinicollette@gmail.com <br/>
					</p>
				</div>
      </div>
      
      <div class="row">
				<div class="col-lg-6 col-lg-offset-1">
					<p><t><a href="https://github.com/nicollette" target="_blank">GitHub</a></t><br/>
					</p>
				</div>
      </div>
      
      <div class="row">
				<div class="col-lg-6 col-lg-offset-1">
					<p><t><a href="http://www.linkedin.com/in/nicollettelui/" target="_blank">LinkedIn</a></t><br/>
					</p>
				</div>
      </div>
      
			<!-- </div> --><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.blacktie.co" target="_blank">BLACKTIE.CO</a></p>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- // <script src="assets/js/bootstrap.js"></script> -->
  </body>
</html>
