<h1>NICOLLETTE LUI</h1>

<p class="summary">
  c'est moi.
</p>

<p> Some Projects</p>
<ul>
  <li><a href="veggawker.com">Veggawker</a></li>
  <li><a href="https://github.com/nicollette/active_record_lite">Active Record Lite</a></li>
    <li><a href="https://github.com/nicollette/Rails_lite">Rails Lite</a></li>
  <li><a href="https://github.com/nicollette/Chess">Chess</a></li>
  <li><a href="https://github.com/nicollette/snake_js">Snake</a></li>
  
</ul>

<a href="https://github.com/nicollette">github</a>
<p>luinicollette@gmail.com</p>
<!-- ## need to link to resume -->