<!DOCTYPE html>
<html lang="en">
<head>
  <% content_for :head do %>
    <%= stylesheet_link_tag    "snake-bundle", :media => "all" %>
    <%= javascript_include_tag "snake-bundle" %>
  <% end %>
</head>
<body> 
  <h2 id="instructions">Use &larr; and &rarr; to change the snake's direction. <br/>Eat as many cookies as you can!</h2><br>
  <div id="score">
  </div>
  <br>
  <div id="board">
  </div>
</body>
</html>