<!DOCTYPE html>
<html lang="en">
<head>
  <% content_for :head do %>
    <link rel="stylesheet" type="text/css" href="/app/assets/snake.css">
   <script src="/app/assets/snake/jquery.min.js"></script>
    <script src="/app/assets/snake/snake.js"></script>
    <script src="/app/assets/snake/snake_ui.js"></script>
    


  <% end %>
</head>
<body> 
  <div id="score">
  </div>
  
  <div id="board">
  </div>
</body>
</html>