<html>
<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/snake.css">
  <script src="../assets/js/jquery.min.js"></script>
	<!-- // <script src="keymaster.js"></script> -->
  <script src="../assets/javascripts/snake/snake.js"></script>
  <script src="../assets/javascripts/snake/snake_ui.js"></script>
</head>

<body>

  <div id="score">
  </div>
  
  <div id="board">
  </div>
</body>
</html>