<!DOCTYPE html>
<html lang="en">
<head>
  <% content_for :head do %>
    <%= stylesheet_link_tag    "snake", :media => "all" %>
    
    <%= javascript_include_tag "snake-bundle" %>
    


  <% end %>
</head>
<body> 
  <div id="score">
  </div>
  
  <div id="board">
  </div>
</body>
</html>