.tile
{
border-color:white;
border-width:1px;
border-style:dashed;
width:150px;
height:150px;
display:inline-block;
float:left;
}

.wrapper
{
  margin-left: 10px;
  width:470px;
}

.xtile
{
  border-style:solid;
  border-width:1px;
  background-image:url('/assets/ttt_hal.jpg');
}

.otile
{
  background-image: url('/assets/ttt_cat.jpeg');
  border-style:solid;
  border-width:1px;
}

body {
  font-family: Helvetica;
  background-color:black;
  color:white;
  position:absolute;
  left:20%;
  top:5%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.gameover {
  background-color:#ca0000;
}

#instructions {
  color:white;
}