.tile
{
border-color:white;
border-width:1px;
border-style:dashed;
width:150px;
height:150px;
display:inline-block;
float:left;
}

.wrapper
{
  margin-left: 10px;
  width:470px;
}

.xtile
{
  border-color: #6699FF;
  border-style:solid;
  border-width:1px;
  background-image:url('/assets/ttt_blue.jpg');
}

.otile
{
  background-image: url('/assets/ttt_orange.jpg');
  border-color: orange;
  border-style:solid;
  border-width:1px;
}

body {
  font-family: Helvetica;
  background-color:#00828b;
  color:white;
  left:20%;
  top:5%;
}